.filter-slider {
  width: 200px;
  margin-left: 15px;
}

.filter__header {
  font-size: 16px;
  font-weight: 700;
}

.filter-sliders__article {
  display: flex;

  width: 100%;
  margin-bottom: 15px;

  justify-content: space-between;
}

.filter-sliders {
  width: 600px;
}

.slider-section {
  display: flex;
}
