@import url('./header.css');
@import url('./searchbar.css');
@import url('./beer-list.css');
@import url('./beer-item.css');
@import url('./image.css');
@import url('./button.css');
@import url('./favorites-list.css');
@import url('./favorites-item.css');

.container {
  display: flex;
  flex-direction: column;
}

/* hide scrollbar */
.scroll-area {
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.scroll-area_home {
  height: calc(100vh - 55px);
}

.scroll-area_favorites {
  height: calc(100vh - 55px - 47px - 44px);
  margin-bottom: 35px;
}
