.beer-item__details {
  display: flex;
  flex-direction: column;

  height: calc(100% - 260px - 34px);
  padding: 15px 25px;

  text-align: start;

  color: #ffffff;
  background-color: #7f7f7f;

  font-weight: 400;

  justify-content: space-between;
}

.beer-item__name {
  margin: 0 0 15px;

  font-size: 22px;
}

.beer-item__button {
  height: 30px;
  margin: 15px 25px 15px 5px;
  padding: 0 10px;

  text-transform: uppercase;

  color: #ffffff;

  font-size: 16px;
}

.beer-item__image {
  height: 260px;
}
