.beer-list {
  display: grid;

  margin: 0 90px;

  list-style-type: none;

  align-content: space-around;
  column-gap: 22px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  row-gap: 30px;
}

.beer-display {
  text-align: center;
}
