.favorites__header {
  margin: 22px 0;

  text-align: center;

  font-weight: 400;
}

.favorites-list {
  margin: 35px 200px 0 100px;
}

.favorites-list::-webkit-scrollbar {
  display: none;
}

.favorites-list__item {
  display: flex;

  width: 75%;
  margin-bottom: 35px;
  padding: 0 50px 0 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

  justify-content: space-between;
}

.favorite-item__image-container {
  margin-left: 30px;
  padding-bottom: 55px;

  text-align: center;
}

/* .favorite-item__image {
} */

.favorite-item__name {
  margin: 20px 0 8px;

  font-size: 24px;
  font-weight: 600;
}

.favorite-item__tagline {
  margin: 8px 0 10px;

  color: #595959;

  font-size: 15px;
  font-weight: 400;
}

.favorite-item__button {
  height: 30px;
  margin: 15px 25px 15px 5px;
  padding: 0 10px;

  text-transform: uppercase;

  font-size: 16px;
}

.favorite-item__details {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.favorite-item__buttons {
  margin-bottom: 10px;
}
