.search {
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.search__input {
  font-size: 14px;
  padding: 8px 4px;
  border: none;
  width: 400px;
  border-bottom: 1px solid #bdbdbd;
}

.search__input:focus-visible {
  outline: none;
  border-bottom: 1px solid #106cc8;
}

.search__input:focus-visible::placeholder {
  color: #106cc8;
}

.search__button {
  display: flex;

  height: 34px;
  color: #444444;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
}

.search__button:hover {
  background: rgba(200, 200, 200, 0.7);
}

.search__button:active {
  background: rgba(200, 200, 200, 0.9);
}
