/* drawer */
/* ----------------------------------------- */
.drawer__button {
  color: #ffffff;
}

.drawer__icon {
  margin: 0 20px 0 28px;
}

.drawer__list {
  width: 300px;

  font-size: 14px;
}

.drawer__block {
  height: 146px;

  background-color: #106cc8;
}

.drawer__caption {
  margin-top: 30px;
  margin-left: 45px;
}
/* ----------------------------------------- */
/* header */
.header {
  display: flex;

  height: 55px;

  background-color: #106cc8;

  align-items: center;
  justify-content: space-between;
}

.header__caption,
.drawer__caption {
  display: inline-block;

  padding: 5px 4px 7px;

  color: #ffffff;

  font-size: 16px;
}

.header__caption {
  margin: 8px -2px 4px;
}

.header__caption:hover {
  border-radius: 6px;
  outline: 1px solid;
}

.header__caption:active {
  background-color: rgba(216, 191, 216, 0.192);
}

/* user-space */
.header__user-area {
  margin: auto 25px;
}

.header__button {
  margin-left: 15px;
  padding: 6px 10px;

  color: #ffffff;
  border-radius: 7px;
  background-color: transparent;

  font-size: 15px;
}

.header__button:hover {
  padding: 6px 9px;

  border: solid 1px #ffffff;
  border-radius: 5px;
}

.header__button:active {
  padding: 6px 9px;

  border-radius: 5px;
  background-color: rgba(216, 191, 216, 0.192);
}
