.searchbar {
  display: flex;
  flex-direction: column;

  text-align: center;
  /* justify-content: space-between; */

  align-items: center;
}

.search {
  display: flex;

  margin: 80px;
  margin-bottom: 20px;

  align-items: center;
  justify-content: center;
}

.search__input {
  width: 400px;
  padding: 8px 4px;

  border: none;
  border-bottom: 1px solid #bdbdbd;

  font-size: 14px;
}

.search__input:focus-visible {
  border-bottom: 1px solid #106cc8;
  outline: none;
}

.search__input:focus-visible::placeholder {
  color: #106cc8;
}

.search__button {
  display: flex;

  height: 34px;
  margin-left: 4px;

  color: #444444;

  align-items: center;
  justify-content: center;
}
