.container {
  display: flex;
  flex-direction: column;
}

/* hide scrollbar */
.scroll-area {
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.scroll-area_home {
  height: calc(100vh - 55px);
}

.scroll-area_favorites {
  height: calc(100vh - 55px - 47px - 44px);
  margin-bottom: 35px;
}

.image_small {
  height: 260px;
}

.image_medium {
  height: 400px;
}

.button {
  cursor: pointer;

  border: none;
}

.button_transparent {
  background: transparent;
}

.button_transparent:hover {
  background: rgba(200, 200, 200, 0.7);
}

.button_transparent:active {
  background: rgba(200, 200, 200, 0.9);
}
